@model SueChef.ViewModels.RecipeCardViewModel

<div class="RecipeCard flex justify-center">
    <div
        class="w-full max-w-5xl bg-white rounded-md overflow-hidden hover:shadow-md transition-all duration-300 border border-gray-700 p-3">
        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id" class="block">
            <div class="flex justify-between gap-3">

                <!-- Left side: picture -->
                <div class="w-[40%]">
                    <img src="@Model.RecipePicturePath" alt="@Model.Title"
                        class="object-cover rounded-md border border-gray-300" />
                </div>

                <!-- Right side: text -->
                <div class="flex flex-col justify-between md:w-[65%] w-full">
                    <div>
                        <!-- Recipe Title -->
                        <h3 class="text-3xl hover:text-orange-800 transition">
                            @Model.Title
                        </h3>

                        <!-- Stars -->
                        <span class="flex items-center gap-1 text-gray-800 mb-2">
                            @for (int i = 0; i < 5; i++)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-5 h-5 text-yellow-400">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.946a1 1 0 00.95.69h4.147c.969 0 1.371 1.24.588 1.81l-3.357 2.44a1 1 0 00-.364 1.118l1.286 3.946c.3.921-.755 1.688-1.54 1.118L10 14.347l-3.347 2.448c-.784.57-1.838-.197-1.539-1.118l1.286-3.946a1 1 0 00-.364-1.118L2.679 9.373c-.783-.57-.38-1.81.588-1.81h4.147a1 1 0 00.95-.69l1.286-3.946z" />
                                </svg>
                            }
                        </span>
                        <span class="flex items-center gap-1 text-gray-700 mb-1">
                            947 ratings
                        </span>
                        <p class="recipe-card__description text-gray-700 line-clamp-3 break-words">@Model.Description
                            @Model.Description @Model.Description @Model.Description
                        </p>
                    </div>
                </div>
            </div>

            <!-- Categories and tags -->
            <div class="flex items-center mt-4 text-xs text-gray-600 justify-between mb-2 gap-4 px-2">
                <!-- Category -->
                <div class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8"
                        stroke="currentColor" class="w-5 h-5 text-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9 9 0 100-18 9 9 0 000 18z" />
                    </svg>
                    <span>@Model.Category</span>
                </div>

                <!-- Vegetarian -->
                @if (@Model.IsVegetarian)
                {
                    <div class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                            class="w-5 h-5 text-green-600">
                            <path
                                d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 2c1.74 0 3.41.5 4.84 1.44L12 11l-4.84-5.56A8.004 8.004 0 0112 4z" />
                        </svg>
                        <span>Vegetarian</span>
                    </div>
                }

                <!-- Dairy Free -->
                @if (@Model.IsDairyFree)
                {
                    <div class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8"
                            stroke="currentColor" class="w-5 h-5 text-sky-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 2a8 8 0 00-8 8v8a2 2 0 002 2h12a2 2 0 002-2v-8a8 8 0 00-8-8z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h8" />
                        </svg>
                        <span>Dairy Free</span>
                    </div>
                }

                <!-- Difficulty -->
                <div class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                        class="w-5 h-5 text-gray-800">
                        <path
                            d="M12 2a5 5 0 015 5c0 1.657-1.343 3-3 3H10a3 3 0 01-3-3 5 5 0 015-5zm-3 8h6l1 12H8l1-12z" />
                    </svg>
                    <span>
                        @(Model.DifficultyLevel == 1 ? "Easy" :
                                                Model.DifficultyLevel == 2 ? "Medium" :
                                                "Hard")
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>