@model SueChef.ViewModels.RecipeCardViewModel

<div class=" flex justify-center">
    <div
        class="hover:shadow-xl w-full max-w-6xl bg-white rounded-md overflow-hidden transition-all duration-300 border-2 border-gray-400 p-3 md:p-6 mb-2 h-full">
        <a asp-controller="RecipeDetails" asp-action="Index" asp-route-id="@Model.Id"
            class="block transition-all duration-300 h-full">

            <!-- Left side: picture -->
            <div class="flex md:items-start gap-3 h-full">
                <!-- Left side: picture -->
                <div class="w-24 h-24 md:w-48 lg:w-56 flex-shrink-0">
                    <img src="@Model.RecipePicturePath" alt="Recipe Picture"
                        class="w-full h-full md:h-36 lg:h-40 object-cover rounded-md border border-gray-300" />
                </div>

                <!-- Right side: text -->
                <div class="flex flex-col justify-between md:w-[65%] lg:flex-grow h-full">

                    <!-- Recipe Title -->
                    <h3
                        class="text-2xl text-gray-700 md:text-2xl lg:text-2xl font-medium hover:text-orange-800 transition ">
                        @Model.Title
                    </h3>

                    <!-- Stars -->
                    <div class="flex gap-4 items-center mt-2 text-yellow-400">
                        <div class="flex items-center gap-1 text-yellow-400">
                            @for (int i = 0; i < 5; i++)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-star-icon lucide-star">
                        <path
                            d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                    </svg>
                            }
                        </div>
                        <div class="flex items-center gap-1 text-gray-700 md:text-xl lg:text-lg">
                            @Model.RatingCount ratings
                        </div>
                    </div>

                    <p
                        class="recipe-card__description text-gray-600 line-clamp-2 break-words md:text-lg lg:text-lg mt-2">
                        @Model.Description
                    </p>

                    <div class="flex-grow"></div>

                    <!-- Tags bar -->
                    <div class="flex rounded-md justify-around items-center text-center gap-4 mt-2">
                        <!-- Category -->
                        <div class="flex flex-col items-center w-1/4">
                            <i data-lucide="clock" class="w-6 h-6 text-gray-500"></i>
                            <span class="text-xs md:text-sm lg:text-md text-gray-500 truncate">@Model.TotalTimeDisplay</span>
                        </div>

                        <!-- Difficulty -->
                        <div class="flex flex-col items-center w-1/4">
                            <i data-lucide="chef-hat" class="w-6 h-6 text-gray-500"></i>
                            <span
                                class="text-xs font-medium
                    @(Model.DifficultyLevel == 1
                                                                                                                                                                                                                                        ? "text-green-600 md:text-sm lg:text-md"
                                                                                                                                                                                                                                        : Model.DifficultyLevel == 2
                                                                                                                                                                                                                                        ? "text-orange-500 md:text-sm lg:text-md"
                                                                                                                                                                                                                                        : "text-red-600 md:text-sm lg:text-md")">
                                @(Model.DifficultyLevel == 1 ? "Easy" :
                                                                Model.DifficultyLevel == 2 ? "Medium" : "Hard")
                            </span>
                        </div>
                        <!-- Dairy Free -->
                        @if (@Model.IsDairyFree)
                        {
                            <div class="flex flex-col items-center w-1/4">
                                <i data-lucide="milk-off" class="w-6 h-6 text-gray-500"></i>
                                <span class="text-xs md:text-sm lg:text-md text-gray-500 truncate">Dairy Free</span>
                            </div>
                        }
                        <!-- Vegetarian -->
                        @if (@Model.IsVegetarian)
                        {
                            <div class="flex flex-col items-center w-1/4">
                                <i data-lucide="vegan" class="w-6 h-6 text-gray-500"></i>
                                <span class="text-xs md:text-sm lg:text-md text-gray-500 truncate">Vegetarian</span>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </a>
    </div>
</div>